<style>

     .box1 { 
       background: #f0f0f0; 
       
       padding: 40px; 
       height: 4000px;
       margin: 0px;
       margin-top:80px;
       box-shadow: 0 0 10px black ;
       margin-top: 50px;  }
     .card {
      display:inline-block;
      margin-left:60px;
      margin-top: 100px;
      transition: .5s;
      box-shadow: 0 0 10px black;
      margin-top: 50px;  } 
    .card:hover{
        transform: translate(-10px,-10px);
        box-shadow: 10px 10px 15px ; }
                 .info {
    
    padding: 10px;
    word-wrap:break-word;
    display: block;
    margin-left: 100px;

    font-family: 'Anton', sans-serif;
    font-family: 'Play', sans-serif;
    font-size: 30px;
   }
       </style>




<div class="box1">
 
  <p class='info'>ID:
  <%= current_user.id %>
 </p>
  <P class='info'><%=t('prof.Email')%>
  <%= current_user.email %>
  </P>
  <P class='info'><%=t('prof.Data')%>
  <%= current_user.created_at %>
  </P>
  <P class='info'><%=t('prof.DataUp')%>
  <%= current_user.updated_at %>
  </P>



     <% @colls.each do |coll| %>
         <% if current_user.id == coll.user_id%> 
   <div class="card" style="width : 18rem;">
         <% if coll.image.attached?%>
          <img class="card-img-top"<%=image_tag(coll.image)%>
          <% end %>
          <div class="card-body">
          <h5 class="card-title"><%=coll.title%></h5>
         
                    <%=link_to like_coll_path(coll),class: t('prof.ShowC'), method: :put do %>
           <button type="button" class="btn btn-info" aria-label="left Align">
           <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
           <span class="badge"><%=coll.get_upvotes.size%></span>
           </button>
           <% end %>
             <%=link_to unlike_coll_path(coll),class: "like", method: :put do %>
           <button type="button" class="btn btn-dark" aria-label="left Align">
           <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
           <span class="badge"><%=coll.get_downvotes.size%></span>
           </button>
           <% end %>
            <a class="btn btn-primary"<%= link_to t('prof.ShowC'), coll_path(coll) %>  </a> 
</div> 
</div>
<%end%>
<%end%>
</div> 





<% if user_signed_in? %>
   <a style="right: 28px;top: 200px;position: absolute; color: white;"class="btn btn-warning" <%= link_to t('prof.NewC'), new_coll_path %> </a>
<% if current_user.admin?%>
   <a style="right: 28px;top: 270px;position: absolute; color: white;"class="btn btn-danger" <%= link_to t('prof.UsList'), userlist_index_path %> </a>
<%end%>
<%end%>