<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<style>
.box1 { 
       background: #f0f0f0; 
       padding: 40px; 
       height: 4000px;
       box-shadow: 0 0 10px black ;  }
        h1 {
    border: 1px solid black;
    padding: auto;
    word-wrap:break-word;
    display: block;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    width: 400px;
  
   }
 
   .form123 {
     display:none;  
   }
   .form_add_field {
     display:none;

   }
   .btn-item {
      left: 10px;  
   }
   .fieldimage{
     display: flex;
    margin-top: 10px;
     border: 2px black dotted;
 height:100px;
 width:400px;
 }

 .iteminfo{
   font-size:20px;
   color:black;
 }
   
 
       </style>
       


       
      
       
<div  class="box1">

<div class="alert alert-dark" role="alert">
  <%=t('showC.Topic')%><%=@coll.all_topics%>
</div>

<p id="notice"><%= notice %></p>
<div class="d-flex flex-column">

<% if @coll.image.attached?%>

  <div style="width:400px; height:auto;" class = "imagecoll" >
<%=image_tag(@coll.image,style:'width:100%')%>
</div>
<% end %>




<h1 class="h-100 mt-3">
  <strong><%= markdown @coll.title %>:</strong>

  <%=markdown @coll.body %>

</h1>

</div>



<% if user_signed_in?%>
<a style="right: 50px;top: 210px;position: absolute; color: white;"  class="btn btn-dark", color="white"<%= link_to t('showC.Back'), colls_path %> </a>

<% if current_user.admin? || current_user.id == @coll.user_id %> 
<a style="right: 198px;top: 210px;position: absolute; color: white;" class="btn btn-info", color="white"<%= link_to t('showC.Edit'), edit_coll_path(@coll) %> </a>
<a style="right: 324px;top: 210px;position: absolute; color: white;" class="btn btn-danger", color="white"<%= link_to t('showC.Delete'), @coll_path, method: :delete %></a>

 <%end%>
  <%end%>







 
  <table  class="table table-striped w-auto">
  
  
  <tbody>
    <tr> 
    <% @coll.items.each do |item|%>

      <td><p class="iteminfo"><%=item.id%></p></th>
      <td><p class="iteminfo"><%= item.title%></p></td>
      <td><p class="iteminfo"><%=item.body %></p></td>
      
      <td><%= item.created_at%></td>
      <% if user_signed_in?%>
     <% if current_user.admin? || current_user.id == @coll.user_id %> 
      <td><a class="btn btn-outline-danger"<%= link_to t('showC.delIt'), [item.coll, item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></a></td>
               <td><a class="btn btn-outline-success"<%=link_to t('showC.shIt'),item_path(item) %> </a> </td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
    <% end %>
    </table>
    


    <% if user_signed_in?%>
    <% if current_user.admin? || current_user.id == @coll.user_id %> 
    <button  class="btn btn-info add-item" ><%=t('showC.CrIt')%></button>
<%=  form_with(model: [ @coll, @coll.items.build ], local: true) do |form| %>
  <div class = 'form123'>
<div class="form-group">
  <input  class="fieldimage" <%=form.file_field :image%></input>
  </div>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"><%=t('showC.addTitle')%></span>
  </div>
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" <%= form.text_field :title %></textarea>
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"><%=t('showC.addBody')%></span>
  </div>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" <%= form.text_area :body %></textarea>
  </div>
   
   <p>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"><%=t('showC.addTags')%></span>
  </div>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"  <%= form.text_field :all_tags%></textarea>
</div>









   <p>
<button type="submit" class="btn btn-success "><%=t('showC.btCrIt')%></button>
</p>
</div>
<% end %>
<% end %>
<script>
$( ".add-item" ).click(function() {
  $( ".form123" ).slideToggle( "slow" );
});
</script>
 <% end %>

 <div id="show-dop" style="display:none;" > </div>


</div>



