<style>
.box1 { 
       background: #f0f0f0; 
      
       padding: 40px; 
       height: 4000px;
       margin: 0px;
       margin-top:80px;
       box-shadow: 0 0 10px black ;  }
            h1 {
    border: 1px solid black;
    padding: 10px;
    word-wrap:break-word;
    display: block;
    margin-top: 20px auto;
    margin-right: 300px;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    width: 400px;

            }

       </style>
       
<div class="box1">





<div class="alert alert-primary" role="alert">
  Tags: <%=@item.all_tags%>
</div>

<div class="alert alert-info" role="alert">
  Topic:<%=@item.coll.all_topics%>
</div>

<% if @item.image.attached?%>

  <div style="width:400px; height:auto;" class = "imagecoll" >
<%=image_tag(@item.image,style:'width:100%')%>
</div>
<% end %>

<h1>
  <strong><%= @item.title %>:</strong>

  <%= @item.body %>
</h1>


<%= form_with model: [@item, @comment] do |form| %>
    <%= form.text_field :body %>
    <%= form.submit "Comment" %>
<% end %>


  <div id="comment_pane">
  <% @item.comments.each do |comment|%>
  <%= render 'comments/comment', comment: comment%>
<% end %>
</div>


</div>









 



