<!DOCTYPE html>
<html>

  <head>
  <style>
  
.box1 { 
       background: #f0f0f0; 
       padding: 40px; 
       height: 4000px;
      
       }
   body{
    background: #ABD9E3 !important; 
    margin: 0px !important;   
   } 

 
  
   
   
   
  </style>
      <%= render 'home/style'%>
    <%=render 'layouts/style'%>


  </head>

    
  
  <body >
 <nav style="width:100%;background: #4285F4 " class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" <%=link_to 'iLearning', root_path %></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"<%= link_to t('nav.Home'), root_path %></a>
          <span class="sr-only">(current)</span>
        </a>
        <% if user_signed_in?%>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to t('nav.UsP'), colls_path %> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to t('nav.Out'), destroy_user_session_path, :method => :delete %> </a>
        <% else %>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to t('nav.Go'), user_session_path%> </a>
      </li>
      <% end %>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" <%= link_to 'Home', root_path %></a>
          <a class="dropdown-item" <%= link_to 'User Page', colls_path %></a>
          <a class="dropdown-item" <%= link_to 'Go out', destroy_user_session_path, :method => :delete %></a>
          <li class="nav-item<%=" active" if I18n.locale == :ru %>">
        <%=link_to "Рус", {locale: :ru}, class: "nav-link" %>
        </li>
        <li class="nav-item<%=" active" if I18n.locale == :en %>">
        <%=link_to "En", {locale: :en}, class: "nav-link" %>
        </li>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0 d-flex align-items-center">


      <%= form_tag colls_path, :method => 'get' do%>
        <input class="form-control mr-sm-2" type="text" placeholder=<%=t('nav.Search')%> aria-label="Search"<%=text_field_tag :search %></input>
        
        <p class="m-0">
      <%= submit_tag t('nav.btSearch'), class:"btn btn-info", style:"margin-left: 45px" %>
</p>
<%end%>
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


       
      
      

  
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        <%= yield %>
        
        
    
  </body>
</html>
