<!DOCTYPE html>
<html>

  <head>
  <style>
  
.box1 { 
       background: #f0f0f0; 
       padding: 40px; 
       height: 4000px;
      
       }
   body{
    background: #ABD9E3 !important; 
    margin: 0px !important;   
   } 

 
  
   
   
   
  </style>
  <script src="./jquery.js"></script>
    <script src="./mdb.js"></script>  
    <script src="./bootstrap.js"></script>
    <script src="./popper.js"></script>
    <link rel="stylesheet" href="./mdb.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Play&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    
  
  <body >
 <nav style="width:100%" class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"<%= link_to 'Home', root_path %></a>
          <span class="sr-only">(current)</span>
        </a>
        <% if user_signed_in?%>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'User Page', colls_path %> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Go out', destroy_user_session_path, :method => :delete %> </a>
        <% else %>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to "Go", user_session_path%> </a>
      </li>
      <% end %>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" <%= link_to 'Home', root_path %></a>
          <a class="dropdown-item" <%= link_to 'User Page', colls_path %></a>
          <a class="dropdown-item" <%= link_to 'Go out', destroy_user_session_path, :method => :delete %></a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


       
      
      

  
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        <%= yield %>
        
        
    
  </body>
</html>
